<% if(typeof errors != 'undefined') { %>
    <% errors.forEach(function(error) { %>
        <div class="alert alert-warning alert-dismissible show" role="alert" style="background-color: red;">
            <%= error.msg %>            
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    <% }); %>
<% } %>

<% if(error_msg != '') { %>
    <div class="alert alert-warning alert-dismissible show" role="alert" style="background-color: red;">
        <%= error.msg %>            
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
<% } %>

<% if(error != '') { %>
    <div class="alert alert-warning alert-dismissible show" role="alert" style="background-color: red;">
        <%= error %>            
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
<% } %>
