<link rel="stylesheet" href="css/style.css">
<div class="container-fluid text-left">
<div class="row content">
    <div class="col-sm-12 text-left Head"  style="color: white; text-align: center; margin-top: 10%;"> 
    <h1>Welcome to Melody!</h1>
    <h3>See what's out there!</h3>
    <h3>Click <a href="html/first.html"> HERE</a> to get started!</h3>
    </div>
