.content{
    margin-top: 100px;
    width: 30%;
    margin-right: 35px;
    background-color: rgb(24, 201, 255);;
}

/* img {
    width: 10px;

} */

.contents{
    margin-top: 100px;
    width: 30%;
    margin-right: 35px;
    background-color: rgb(24, 201, 255);;
}

/* img {
    width: 10px;

} */